@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto'); /* Google Fonts*/


html, body{ /* Tipo del código y Cuerpo del documento... esto ya lo sabe!*/
    margin: 0;
    padding: 0;
}

body{ /* Cuerpo del documento... esto ya lo sabe!*/
    width: 100%;
    background:#21282de0;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em; /* espacio de letra*/
    line-height: 1.6;/* altura de línea ... leer más*/
    font-family: 'Open Sans', sans-serif;
    
}

.title{
    text-align: center;
    font-size: 40px;
    color: beige;
    margin-top: 90px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.container{ /* contenedor*/
    width: 100%;
    max-width: 20000px;
    height: 430px;
    display: flex;
    flex-wrap: wrap; /* especifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas.*/
    justify-content: center;
    margin: auto;
}

.container .card{ /* contenedor tarjeta/imagen*/
    width: 330px;
    height: 715px;
    border-radius: 9px;
    box-shadow: 0 2px 2px rgb(255, 255, 255);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.30s;
}

.container .card:hover{ /* cuando el usuario interactúa con un elemento con un dispositivo señalador, pero no necesariamente lo activa*/
    transform: translateY(-15px); /* Aplica una o varias funciones de transformación sobre un elemento.*/
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); /* describe uno o más efectos de sombra como una lista separada por comas. Permite proyectar una sombra difuminada en la estructura de casi cualquier elemento.*/
    color:#b3b3b4;
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 18px;
    font-weight: 300;
}

.container .card a {
    font-weight: 600; /* permite establecer el grosor con el que se muestran las letras del texto */
    text-decoration: thickness; /* La propiedad text-decoration permite que el texto sea decorado*/
    color: #8e8e8f;
}

/* imagen fondo */
.fondo {
    height: 400px;
    position: relative;
    background-image: url(../imagenes/asteride.jpg);
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    padding-top: 130px;
}

.contenedor {
    width: 90%;
    max-width: 2000px;
    margin: auto;
    overflow: hidden;
    padding: 50px ;
}

.blog-title-fondo{
    font-weight: 500px;
    font-size: 4.7em;
    margin-top: -10px;
    color: #eeeeee;
    text-align: right;
}

.blog-subtitle{
    font-weight: 500px;
    font-size: 1.5em;
    margin-top: 5px;
    color: #eeeeee;
    
}

.blog-subtitle-fondo{
    font-weight: 500px;
    font-size: 2em;
    margin-top: 5px;
    color: #eeeeee;
    text-align: right;
}

.blog-content{
    font-size: 2em;
    border-left: 5px solid #250c3e;
    padding-left: 20px;
    font-family: sans-serif;
}