@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif;
}
body{
    background-image: url(../imagenes/estrellas-fondo.jpg);
}
/*Contenedor de todo*/
.container-all{
width: 100%;
max-width: 1000px;
margin: auto;
padding: 100px;

background: #00212bb2;
margin-top: 30px;
border-top: 6x solid #015f03;
}
/*Titulo*/
.title{
font-size: 40px;
margin-bottom: 60px;
color:#080c74;
}
/*Subtitulo*/
.sub-title{
font-size: 30px;
font-weight: 400;
color:currentColor;
}
/*Contenedor de imagen*/
.leftimg{
width: 350px;
float: left;
margin-right: 20px;
margin-bottom: 20px;
margin-top: 20px;
}
.rightimg{
    width: 350px;
    float: right;
    margin-left: 20px;
    margin-bottom: 50px;
    }
    .rightimg2{
        width: 350px;
        float: right;
        margin-left: 30px;
        margin-top: 70px;
        margin-bottom: 20px;
        }
        
/*Contenedor de todas las etiquetas p*/
.container-all p{
font-size: 23px;
font-weight: 300;
margin-top: -5px;
color: rgb(194, 181, 165);
}
/*Contenedor de todas las etiquetas b*/
.container-all b{
font-size: 20px;
color:#080c74;
font-weight: normal;
}
/*Encabezado o Descripción que aparece en el footer, autor y
derechos*/
h3{
color:rgba(255, 255, 255, 0.878);
}

.blog-title-fondo{
    font-weight: 500px;
    font-size: 3em;
    margin-top: -10px;
    color: #eeeeee;
    
}

.blog-subtitle-fondo{
    font-weight: 500px;
    font-size: 2.1em;
    margin-top: 5px;
    color: #eeeeee;
    margin-bottom: -10px;
}

.fondo {
    height: 200px;
    position: relative;
    background-image: url(../imagenes/estrellas2.jfif);
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    padding-top: 130px;
    margin-top: 0px;

}

.contenedor {
    width: 100%;
    max-width: 2000px;
    margin: auto;
    overflow: hidden;
    padding: 50px ;
    
}

.blog-content{
    font-size: 23px;
    font-weight: 300;
    margin-top: -5px;
    color: rgb(194, 181, 165);
}

.blog-subtitle{
    font-weight: 500px;
    font-size: 2em;
    margin-top: 5px;
    color: #eeeeee;
    line-height: 35px;
    
}

.linea-bonita{
    margin-top: 5px;
        border-bottom:  5px solid #5c345b;
    margin-bottom: 30px;
    }

    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: #1c2c69; /* Color del header */
        box-shadow: #ffffff; /* Código por definir para que sirve */ 
        z-index: 2;
    }
    
    .header-content{
        max-width: 1200px; /* Comentario */
        margin: auto; /* Comentario */
        display: flex;
        justify-content: space-between; /* Comentario */
    }
    
    .logo{
        height: 80px; /* Altura del logo en el header */ 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo h1 b{
        color: #ffffff; /* Color del texto Informática*/
    }
    
    
    .menu {
        height: 80px; /* Altura del Menú en el header */
    }
    
    .menu nav{
        height: 100%; /* Altura del menu de navegación */
    }
    
    .menu nav ul{
        height: 100%;
        display:flex; /* posición del menú de navegación*/
        list-style: none;
    }
    
    .menu nav ul li{
        height: 100%;
        margin: 0px 20px; /* margen entre la lista del menú*/
        display: flex; /* Indica la capacidad de un elemento flexible para alterar sus dimensiones y llenar el espacio disponible */
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .menu-selected:before{ /* Selector del menú, linea de color*/
        content: '';
        width: 100%;
        height: 7px; /* Linea indicando la navegación seleccionada*/
        background: #7a0000; /* color del selector*/
        position:fixed;
        top: 0;
        left: 0;
    }
    
    .menu nav ul li a{ /* posición del menú de navegación*/
        color: #ffffff; /* */
        font-size: 25px; /* posición del menú de navegación*/
        transition: color 300ms; /* posición del menú de navegación*/
    }
    
    .menu nav ul li a:hover{
        color: #f5d23d; /* color del efecto al pasar el puntero en el menú */
    }
    
    .menu .text-menu-selected{ /* Selector menú Inicio */
        color: #f5d23d;
    }
    
    .menu nav ul li a i{ /* No borrar! */
        display: none;
    }
    
    #icon-menu{ /* propiedades del icono del menú */
        width: 50px;
        height: 50px;
        position: absolute;
        right: 20px;
        top: 16px;
        padding: 10px;
        font-size: 20px;
        background: #c0c0c7; /* Color del icono del menú*/
        border-radius: 100%;
        color: #4e4b4b; /* Color interior icono del menú */
        display: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    #icon-menu:hover{ /*Efecto señalador con el mouse */
        opacity: 0.8;
    }